@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.window{
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    justify-content: center;
    width: 1000px;
    height: 750px;
    margin: auto;
    border-radius: 15px;
}

.header{
    display: flex;
    position: absolute;
    align-items: center;
    width: 1000px;
    height: 35px;
}

.header__text{
    display: flex;
    margin: auto;
    align-items: center;
    height: 35px;
}

.header__input-menu{
    display: inherit;
    position: absolute;
    align-items: center;
    height: 35px;
}

.header__input-menu a{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.header__input-close{
    background-color: #FF605C;
}
.header__input-close:hover{
    background: url("close.png");
    background-size: 100%, 100%;
}

.header__input-full-screen{
    background-color: #00CA4E;
}
.header__input-full-screen:hover{
    background: url("full-screen.png");
    background-size: 100%, 100%;
}

.header__input-minimize{
    background-color: #FFBD44;
}
.header__input-minimize:hover{
    background: url("minimize.png");
    background-size: 100%, 100%;
}

.window__content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 35px 35px;
}